<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Open rampette
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let shop of nearbyshops; let i = index">
    <img src="assets/img/{{shop.image}}" />

    <ion-card-content>
      <ion-card-title>
        {{shop.name}}
      </ion-card-title>

      <p>
      {{shop.description}}
      </p>

      <button ion-button (click)="connect(i)">RICHIEDI ASSISTENZA</button>
    </ion-card-content>

  </ion-card>

  <div *ngIf="connected">
    <ion-card>

      <div *ngIf="nearbyshops[indexConnectedDevice].image">
        <img src="assets/img/{{nearbyshops[indexConnectedDevice].image}}" />
      </div>

      <ion-card-content>
        <ion-card-title>
          {{nearbyshops[indexConnectedDevice].name}}
        </ion-card-title>

        <p>
          {{nearbyshops[indexConnectedDevice].description}}
        </p>

        <div *ngIf="beaconStatus==1">
          <h2>
            <ion-spinner name="bubbles"></ion-spinner>
            ...Stiamo chiamando il negoziante...
          </h2>

        </div>

        <!-- <div *ngIf="beaconStatus==2">
          <h2>
          Chiamata ricevuta, stai per ricevere assistenza.
        </h2>

        </div> -->


        <ion-grid *ngIf="debug">
          <ion-row>
            <ion-col>Major:{{beacon.major}}</ion-col>
            <ion-col>Minor:{{beacon.minor}} </ion-col>
            <ion-col>RSSI:{{beacon.rssi}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>
