---
layout: home
title: openrampette by opencarecc
published: true
---

<div class="row">
  <h1> Cos'è openrampette?</h1>
  <p class="short-about">
    open rampette è un’iniziativa pilota per il miglioramento dell’accessibilità degli esercizi commerciali ed è promossa dal Comune di Milano e da WeMake | fablab e makerspace all’interno del progetto opencare.
  </p>
  <p>
    <a class="more" href="{{ site.baseurl }}/about"><em>scopri dipiù >></em></a>
  </p>
</div>

<div class="row">
  <!--
      NOTE: to show the image carousel uncomment {% include slick_slider.html %}
            to show the video uncomment {% include video.html %}
            !!! the layout wasn't designed to show both the carousel and the video on the same row !!!
  -->
   {% include slick_slider.html %}
   <!-- {% include video.html %} -->
</div>


<div class="row">
  {% include news.html %}
</div>

<div class="row" style="border:none">
  {% include license.html %}
  {% include credits.html %}
</div>

<!-- {% include release_notes.html %} -->
<!-- {% include contribute.html %} -->
