<!-- IMPORTANT: Please only change text and links. Leave the HTML structure unchanged -->

<footer class="site-footer">
  <div class="column">
    <span class="owner">
      <a href="https://github.com/opencarecc/MicroWebsiteTemplate">open rampette</a> is maintained by 
      <a href="https://github.com/opencarecc">opencarecc</a>.
    </span>

      <p class="credits">This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 688670</p>
  </div>
  <div class="column">
    <img src="http://opencarecc.github.io/MicroWebsiteTemplate/assets/OC-EC-H2020.jpg">
  </div>
</footer>