<!-- IMPORTANT: Please only change text and links. Leave the HTML structure unchanged -->

<section class="page-header">
  <div class="page-header-content">
    <h1 class="project-name">openrampette</h1>
    <h2 class="project-tagline">this is the repo for the openrampette project</h2>
    <a href="https://github.com/opencarecc/openrampette" class="btn">View on GitHub</a>
    <a href="https://github.com/opencarecc/openrampette/zipball/master" class="btn">Download .zip</a>
    <a href="https://github.com/opencarecc/openrampette/wiki" class="btn">Build your own!</a>
  </div>
</section>