<div class="column">
    <h2>Ultime news dal blog<em> {{ include.category }}</em></h2>
    <!-- <h2>{{ site.data["lang"]["news"]["latest_news"] }}<em> {{ include.category }}</em></h2> -->

    <div class="row" style="border: none;">
      <!-- if a category is specified print the news of the specified category only -->
      {% if include.category %}
        {% for post in site.categories[include.category] offset: 0 limit: 3 %}
        <div class="column tutorials">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="{{ post.image }}">
          </a>
          <h3>{{ post.title }}</h3>
          <!-- <p>{{ post.subtitle }}... <a href="{{ site.baseurl }}{{ post.url }}"><br><em>{{ site.data["lang"]["global"]["read_more_post"] }} &raquo;</em></a></p> -->
          <p>{{ post.subtitle }}... <a href="{{ site.baseurl }}{{ post.url }}"><br><em>Leggi tutto &raquo;</em></a></p>
        </div>
        {% endfor %}

      {% else %}
        {% for post in site.posts offset: 0 limit: 3 %}
          <!-- <li>
            <span>{{ post.date | date_to_string }}</span> » <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
          </li> -->

          <div class="column tutorials">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <img src="{{ post.image }}">
            </a>
            <h3>{{ post.title }}</h3>
            <!-- <p>{{ post.subtitle }}... <a href="{{ site.baseurl }}{{ post.url }}"><br><em>{{ site.data["lang"]["global"]["read_more_post"] }} &raquo;</em></a></p> -->
            <p>{{ post.subtitle }}... <a href="{{ site.baseurl }}{{ post.url }}"><br><em>Leggi tutto &raquo;</em></a></p>
          </div>
        {% endfor %}

      {% endif %}
    </div>

    <p>
      <a href="{{ site.baseurl }}/blog">
        <!-- <em>{{ site.data["lang"]["news"]["link_to_blog"] }} &raquo;</em> -->
        <em>Tutte le news &raquo;</em>
      </a>
    </p>

</div>
