---
layout: default
title: All the News about open rampette
---

  <!-- <h1 style="float:left;">{{ page.title }}</h1>
  <p class="atom"><a href="{{ site.baseurl }}/blog/atom.xml" target="_blank">Subscribe to RSS feed</a></p> -->
  <div class="row">
      <h1>{{ page.title }}</h1>
  </div>
	<ul class="posts">
	  {% for post in paginator.posts %}
	    <li>
        <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}"><h2>{{ post.title }}</span></h2></a>
        <p class="postdate">{{ post.date | date_to_string }}</p>
        <img src="{{ post.image }}">
        {{ post.excerpt }}
        <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}"><em>leggi tutto »</em></a>
      </li>
	  {% endfor %}
	</ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">« Previous</a>
    {% endif %}

    {% if paginator.total_pages > 1 %}
      <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% endif %}

    {% if paginator.next_page %}
      <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next »</a>
    {% endif %}
  </div>
