/* === GENERAL STUFF === */
* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

a {
  cursor: pointer;
  /*color: #602480;*/
  color: #000099;
  text-decoration: none;
  padding-bottom: .15rem;
  transition: all .3s;
}
a:hover {
  /*border-bottom: 1px solid #602480;*/
  border-bottom: 1px solid #000099;
}

ul {
  list-style-type: circle;
  -webkit-padding-start: 20px;
  width: 100%;
}

/* === NAVIGATION BAR === */
nav {
  text-align: center;
  padding: 2rem 4rem;
  /*background: rgba(255,255,255,.5);*/
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  float: right;
  width: initial;
}

nav li,
nav li.dropdown {
  display: inline-block;
  margin-left: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .9rem;
  color: #000099;
  cursor: pointer;
}

nav li a {
  display: block;
  cursor: pointer;
}

nav img {
  float: left;
}

nav .current {
  /*border-bottom: 1px solid #602480;*/
  border-bottom: 1px solid #000099;
}

nav .current a,
nav .current a:hover,
nav .current a:active  {
  border: none;
}

nav .dropdown::after {
  content: "";
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000099;
  margin: 2px 0px 2px 2px;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px 12px 4px;
  z-index: 1;
  text-align: left;
  /*line-height: 2rem;*/
}

nav .dropdown-content li {
  padding: .5rem 0; 
}

nav .dropdown-content li a,
nav .current .dropdown-content li a {
  border-bottom: 1px solid #f9f9f9;
}

nav .dropdown-content li a:hover,
nav .current .dropdown-content li a:hover {
  /*border-bottom: 1px solid #602480;*/
  border-bottom: 1px solid #000099;
}

.nav-trigger {
  display: none;
}

/*the site name in the navbar*/
/*h1.site-name {
    max-width: 100px;
    font-size: 23px;
    font-size: 1rem;
    text-align: left;
    color: gray;
    margin-left: 73px;
    margin-top: -4px;
    padding: 0px;
    position: absolute;
    font-weight: 300;
    line-height: 30px;
}*/
nav h1 {
  max-width: 1rem;
  font-size: 1.45rem;
  text-align: left;
  color: #159957;
  margin-left: 4.7rem;
  margin-top: -2px;
  padding: 0px;
  position: absolute;
  font-weight: 300;
  line-height: 1.7rem;
}

/* NAVIGATION BAR media queries */
@media screen and (min-width: 64em) {
  nav {
    max-width: 58rem;
    padding: 1rem 3rem;
  }
  nav ul {
    padding-top: 1rem;
  }
  nav img {
    max-width: 3.2rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  nav {
    padding: 1.2rem 4rem;
  }
  nav ul {
    padding-top: .7rem;
  }
  nav img {
    max-width: 2.6rem;
  }
  nav h1 {
    font-size: 1.15rem;
    margin-left: 4.1rem;
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 42em) {
  nav {
    padding: 1.2rem 1rem;
    overflow-x: hidden;
    max-width: 100%;
  }
  nav ul {
    margin-top: 5rem;
    padding: 1.2rem;
    /*padding-right: 1.2rem;*/
    /*display: none;*/
    /*z-index: -1;*/
    /*background-color: blue;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    float: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+3,0.95+57,0.3+79,0.1+99 */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0.95) 57%, rgba(255,255,255,0.3) 79%, rgba(255,255,255,0.1) 99%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 3%,rgba(255,255,255,0.95) 57%,rgba(255,255,255,0.3) 79%,rgba(255,255,255,0.1) 99%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 3%,rgba(255,255,255,0.95) 57%,rgba(255,255,255,0.3) 79%,rgba(255,255,255,0.1) 99%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1affffff',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: inset 0px 10px 5px -8px rgba(0,0,0,0.1);
-moz-box-shadow: inset 0px 10px 5px -8px rgba(0,0,0,0.1);
box-shadow: inset 0px 10px 5px -8px rgba(0,0,0,0.1);
z-index: 999;
/*display: -webkit-flex;
display: flex;
-webkit-flex-direction: column;
flex-direction: column;*/
  }
  nav ul li,
  nav ul li .dropdown {
    display: block;
    margin: 1rem auto;
  }
  nav img {
    max-width: 2.2rem;
  }
  nav h1 {
    font-size: 1rem;
    margin-left: 3.2rem;
    line-height: 1.2rem;
  }


  .nav-trigger {
    display: block;
    /* critical styles - hide the checkbox input */
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
  label[for="nav-trigger"] {
    /* critical positioning styles */
    position: absolute;
    /*right: 15px; top: 15px;*/
    right: 1.2rem;
    top: 1.8rem;
    z-index: 2;
    
    /* non-critical apperance styles */
    /*height: 30px;
    width: 30px;*/
    height: 20px;
    width: 25px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect fill='#602480' width='30' height='6'/><rect fill='#602480' y='24' width='30' height='6'/><rect fill='#602480' y='12' width='30' height='6'/></svg>");
    background-size: contain;
  }
  /*nav .nav-trigger + label, nav ul {
    transition: left 0.2s;
  }*/
  /*.nav-trigger:checked {

  }*/
  /*.nav-trigger:checked ~ .main-content {
    position: absolute;
    left: 10px;
  }*/
  .nav-trigger:checked ~ ul {
    /*position: absolute;
    top: 0;
    left: 10px;*/
    /*display: block;
    z-index: 1;*/
    visibility: visible;
    opacity: 1;
  }
}



/* === HEADER BANNER === */
.page-header {
  color: #fff;
  text-align: center;
  /*background: url(/MicroWebsiteTemplate/assets/RePhone-8.jpg) no-repeat fixed center, linear-gradient(120deg, #2da9de, #602480);*/
  background: url(https://i.ytimg.com/vi/AUUVfPy0UgI/maxresdefault.jpg) no-repeat fixed center, linear-gradient(120deg, #2da9de, #602480);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.page-header-content {
  max-width: 58rem;
  margin: 0 auto;
  padding: 2rem 10rem;
  text-shadow: 0px 0px 2rem rgba(255, 255, 255, 1);
  background: rgba(255,255,255,0.8);
  background: -moz-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.95) 33%, rgba(246,246,246,0.95) 66%, rgba(255,255,255,0.2) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.2)), color-stop(33%, rgba(255,255,255,0.95)), color-stop(66%, rgba(246,246,246,0.95)), color-stop(100%, rgba(255,255,255,0.2)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.95) 33%, rgba(246,246,246,0.95) 66%, rgba(255,255,255,0.2) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.95) 33%, rgba(246,246,246,0.95) 66%, rgba(255,255,255,0.2) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.95) 33%, rgba(246,246,246,0.95) 66%, rgba(255,255,255,0.2) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.95) 33%, rgba(246,246,246,0.95) 66%, rgba(255,255,255,0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

/* HEADER BANNER media queries */
@media screen and (min-width: 64em) {
  .page-header {}
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    background-attachment: scroll;
  }
  .page-header-content {
    max-width: 100%;
    padding: 2rem 6rem;
    background: rgba(255,255,255,0.8);
    background: -moz-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.95) 33%, rgba(246,246,246,0.95) 66%, rgba(255,255,255,0.2) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.2)), color-stop(33%, rgba(255,255,255,0.95)), color-stop(66%, rgba(246,246,246,0.95)), color-stop(100%, rgba(255,255,255,0.2)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.95) 33%, rgba(246,246,246,0.95) 66%, rgba(255,255,255,0.2) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.95) 33%, rgba(246,246,246,0.95) 66%, rgba(255,255,255,0.2) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.95) 33%, rgba(246,246,246,0.95) 66%, rgba(255,255,255,0.2) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.95) 33%, rgba(246,246,246,0.95) 66%, rgba(255,255,255,0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
  }
}

@media screen and (max-width: 42em) {
  .page-header {
    background-attachment: scroll;
  }
  .page-header-content {
    max-width: 100%;
    padding: 2rem 4rem;
    background: rgba(255,255,255,0.8);
    background: -moz-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.9) 25%, rgba(246,246,246,0.9) 75%, rgba(255,255,255,0.5) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.5)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(246,246,246,0.9)), color-stop(100%, rgba(255,255,255,0.5)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.9) 25%, rgba(246,246,246,0.9) 75%, rgba(255,255,255,0.5) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.9) 25%, rgba(246,246,246,0.9) 75%, rgba(255,255,255,0.5) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.9) 25%, rgba(246,246,246,0.9) 75%, rgba(255,255,255,0.5) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.9) 25%, rgba(246,246,246,0.9) 75%, rgba(255,255,255,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
  }
}




/* === HEADER CONTENT === */
.page-header h1 {
  font-family: 'Montserrat';
  font-weight: 400;
  color: #602480;
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2em;
  color: rgb(41,160,209);
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem;
  }
}



/* === BUTTONS === */
.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgb(41,160,209);
  background-color: rgba(255,255,255,.35);
  border: 1px solid rgb(41,160,209);
  font-weight: 300;
  text-align: center;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn + .btn {
  margin-left: 1rem;
}

.btn:hover {
  text-decoration: none;
  background-color: rgb(41,160,209);
  border: 1px solid rgb(41,160,209);
  color: rgb(255,255,255);
  cursor: pointer;
}

a:last-of-type.btn {
  color: rgba(255,255,255,1);
  text-decoration: none;
  background-color: #0eb078;
  border: 1px solid #0eb078;
}
a:last-of-type.btn:hover {
  background-color: #FFA500;
  border: 1px solid #FFA500;
}

/* BUTTONS media queries */
@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
    max-width: 15rem;
    margin: 0 auto;
  }
  .btn + .btn {
    margin: 1rem auto 0;
  }
}



/* === MAIN CONTENT === */
.main-content {
  font-weight: 300;
  font-size: 1rem;
  background-color: #ffffff;
}
.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  /*margin-top: 2rem;*/
  margin-bottom: 1rem;
  font-weight: 300;
  color: #159957; }
.main-content p {
  margin-bottom: 1em;
  flex-basis: 100%; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

/* MAIN CONTENT media queries */
@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
  }
  .main-content ul {
    padding-left: 20px;
  }
}

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem;
    /*overflow-x: hidden;*/
  }
  .main-content p {
  margin-bottom: 1em;
  flex-basis: auto; }
  .main-content ul {
    padding-left: 20px;
  }
}



/* === MAIN CONTENT FLEX GRID === */
.row {
  width: 100%;
  padding: 3rem 0 1rem;
  border-bottom: solid 1px #eff0f1;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.row:first-of-type {
  padding-top: 1.5rem;
}
.row > .column {
  flex: 1 0 0;
  -webkit-flex: 1 0 0;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.row div:first-of-type {
  padding-left: 0;
}
.row div:last-of-type {
  padding-right: 0;
}
.column.tutorials a:hover {
  border: none;
  opacity: 0.7;
}
.column > .video,
.column > .img_slider {
  /*margin-right: 1rem;*/
}

/* MAIN CONTENT FLEX GRID media queries */
/*@media screen and (max-width: 42em) {*/
@media screen and (max-width: 768px) {
  .row {
    flex-flow: column;
    -webkit-flex-flow: column;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .row > .column {
    padding: 0 1rem!important;
    flex: 0;
    -webkit-flex: 0;
  }
  .column > .video,
  .column > .img_slider {
    margin-right: 0;
  }
  .column.tutorials {
    margin: 0 auto 1rem;
    max-width: 400px;
  }
}



/* === FOOTER === */
.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1;
}

.site-footer-owner {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
}

.site-footer-credits {
  color: #819198;
  font-size: .8rem;
  float: left;
  max-width: 50%;
  margin: 1rem 0;
}

.site-footer img {
  max-width: 280px;
  float: right;
}

/* FOOTER media queries */
@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem;
    text-align: center;
  }
  .site-footer-credits {
    clear: both;
    float: none;
    text-align: center;
    max-width: 100%;
  }
  .site-footer img {
    clear: both;
    float: none;
  }
}



/* === EMBED === */
.embed-container {
  position: relative;
  padding-bottom: 56.25%!important;
  height: 0;
  overflow: hidden;
  max-width: 100%!important;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%!important;
  max-height: 700px!important;
}

iframe, object, embed {
  max-width: 100%!important;
  max-height: 700px!important;
  margin: 0 auto;
  display: block;
  flex-basis: 100%;
}

@media screen and (max-width: 42em) {
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    max-width: 100%!important;
    max-height: 300px!important;
  }
  iframe, object, embed {
    max-width: 100%!important;
    max-height: 300px!important;
    flex-basis: 0px;
  }
}



/* === BLOG === */
p.atom {
  font-style: italic;
  float: right;
}
ul.posts {
  margin: 5rem 0 0;
  padding: 0;
  list-style-type: none;
  clear: both;
}
ul.posts li {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: solid 1px #eff0f1;
}
ul.posts li:last-of-type {
  border-bottom:none;
}
.postdate {
  font-size: .8rem;
  font-style: italic;
}
.pagination {
  text-align: center;
}
.previous {
  float: left;
}
.next {
  float: right;
}
.meta {
  font-style: italic;
}



/* === DISQUS === */
.notecomments {
  margin: 4rem auto;
}



/* SLICK STUFF */
/* this one below is a fix to use slick inside a flex grid */
* {
  min-height: 0;
  min-width: 0;
}

.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0;
}

.slick-slide img {
  width: 100%;
}
ul.slick-dots li.slick-active button:before {
  color: #159957;
}
