---

layout: default
lang: site.data["active_lang"]
---

<div class="post-header">
  <h1>{{ page.title }}</h1>
  <span class="meta">{{ page.date | date_to_string }}</span>
  <span style="margin: 0 .5rem;">|</span>
  <span class="category">{{ site.data["lang"]["category"]["category"] }}:
      {% for category in page.categories %}
          <a href="{{site.baseurl}}/category/{{category}}" class="post-tag">
              {{ category }}
          </a>
      {% endfor %}
  </span>
</div>

<img src="{{ page.image }}">

<div class="post">
    {{ content }}
</div>

<!-- Post comments -->
<div class="notecomments">
    {% include disqus.html %}
</div>
